<h1>TED to Pachube</h2>
<p>This will allow you to send your data from your TED device to Pachube. You will need:</p>
<ul>
  <li>A <a href="http://www.theenergydetective.com/ted-5000">TED5000</a> energy monitor</li>
  <li>A free <a href="https://pachube.com">Pachube</a> account</li>
</ul>
<p>The first thing you need to do is authenticate with Pachube:</p>
<!--a href="https://pachube.com/oauth/authenticate?client_id=0b5a2f6e0ce9ce8d0765">Register</a-->
<a href="https://<%= pachube_url %>/oauth/authenticate?client_id=<%= client_id %>">Register</a>
<script src="js/scripts.js"></script>
