<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TED to Pachube</title>
  <meta name="description" content="Connecting TED5000 monitors to Pachube">
  <meta name="author" content="Pachube">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%- body %>
</body>
</html>